  <div class="row">
    <div class="col-lg-8 border--1px padding--1rem">
      <div class="display--flex justify-content--space-between">
        <span class="border--1px padding--l1rem padding--r1rem"
          >DRIVER COPY</span
        >
        <span>Consignment note</span>
      </div>
    </div>
    <div class="col-lg-4" style="padding: 0">
      <div
        class="display--flex justify-content--space-between border--1px padding--tb-small padding--l1rem padding--r1rem"
      >
        S.No
        <input
          class="form-control form-control-sm w-50"
          type="text"
          placeholder="S.No"
        />
      </div>
      <div
        class="display--flex justify-content--space-between border--1px padding--tb-small padding--l1rem padding--r1rem"
      >
        Date
        <input class="w-50 form-control form-control-sm" type="date" id="date" name="date" />
      </div>
      <div
        class="display--flex justify-content--space-between border--1px padding--tb-small padding--l1rem padding--r1rem"
      >
        Truck No.
        <input
          class="form-control form-control-sm w-50"
          type="text"
          placeholder="Truck No"
        />
      </div>
      <div
        class="display--flex justify-content--space-between border--1px padding--tb-small padding--l1rem padding--r1rem"
      >
        From
        <input
          class="form-control form-control-sm w-50"
          type="text"
          placeholder="From"
        />
      </div>
      <div
        class="display--flex justify-content--space-between border--1px padding--tb-small padding--l1rem padding--r1rem"
      >
        To
        <input
          class="form-control form-control-sm w-50"
          type="text"
          placeholder="To"
        />
      </div>
    </div>
  </div>