::ng-deep{
    .ag-row {
        background-color: #ffffe6 ;
      }
      .ag-root-wrapper-body .ag-layout-normal .ag-focus-managed {
        background-color: #ffffe6 ;
      }
      .ag-body-clipper .ag-layout-normal{
        background-color: #ffffe6 ;
      }
}