<ag-grid-angular
  style="width: 100%; height: 530px"
  class="ag-theme-alpine rate-grid"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  [rowHeight]="34"
></ag-grid-angular>
<div class="display--flex flex-direction--column align-items--flex-start to-pay-alignment">
  <div class="form-check">
    <input
      class="form-check-input margin--l1rem"
      type="radio"
      name="toPay"
      id="toPay"
    />
    <label class="form-check-label" for="toPay"> To Pay </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input margin--l1rem"
      type="radio"
      name="paid"
      id="paid"
      checked
    />
    <label class="form-check-label" for="paid"> Paid </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input margin--l1rem"
      type="radio"
      name="tbb"
      id="tbb"
    />
    <label class="form-check-label" for="tbb"> T.B.B </label>
  </div>
</div>
