* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Mullish", sans-serif;
  font-weight: 400;
}

.border--1px {
  border: 1px solid #111;
}

.border--tb2px {
  border-bottom: 2px solid #111;
  border-top: 2px solid #111;

}

.padding--0x5rem {
  padding: 0.5rem;
}

.padding--1rem {
  padding: 1rem;
}

.padding--l1rem {
  padding-left: 1rem;
}

.padding--r1rem {
  padding-right: 1rem;
}

.padding--t1rem {
  padding-top: 1rem;
}

.padding--b1rem {
  padding-bottom: 1rem;
}


.margin--l1rem {
  margin-left: 1rem !important;
}

.margin--r1rem {
  margin-right: 1rem;
}

.margin--t1rem {
  margin-top: 1rem;
}

.margin--b1rem {
  margin-bottom: 1rem;
}

.padding--tb-small {
  padding-bottom: 4px;
  padding-top: 4px;
}

.display--flex {
  display: flex;
}

.flex-direction--column {
  flex-direction: column;
}

.justify-content--center {
  justify-content: center;
}

.justify-content--space-between {
  justify-content: space-between;
}

.justify-content--space-around {
  justify-content: space-around;
}
.align-items--center {
  align-items: center;
}

.w-50 {
  width: 50%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
